.main-container {
  display: flex;
  flex-direction: row;
}

.list {
  height: 100vh;
  width: 30vw;
  border-right: black;
  border-right-width: 1px;
  border-right-style: dashed;
}

.document-window {
  height: 100vh;
  width: 70vw;
}
