.doc-list-container{
  position: fixed;
  width: 30vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c5daab;
  overflow-x: hidden;
  padding-top: 20px;
span {
  padding: 6px  8px  6px  16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  color: #818181;
  display: block;
}.selected {
   color: #e1e1e1;
 }:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
}

.primaryBtn {
  display: block;
  color: #111111;
  background-color: #009639;
  border: 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px

}
