<div class='doc-list-container'>
  <button class="primaryBtn" (click)='newDoc()'>+ Add a new document</button>
  <span [class.selected]='docId === currentDocId' (click)='loadDoc(docId)' *ngFor='let docId of documents$ | async; let i = index'> {{i+1}}</span>
</div>
